<a href="https://colab.research.google.com/github/freeycfreeyc/COLAB_git/blob/first-gate-for-error-%2F-backup/BAEKJOON_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BAEKJOON_python

In [ ]:
#BJ_9498

score = int(input())

if score >= 90 :
  print("A")
else:
  if score >= 80 :
    print("B")
  else:
    if score >= 70 :
      print("C")
    else:
      if score >= 60 :
        print("D")
      else:
        print("F")

89
B

In [ ]:
#BJ_10817

num = list(map(int,input().split()))

num.sort()

print(num[1])

10 30 20
20

In [ ]:
#BJ_11653



def prime_factors(n):
    factors = []
    divisor = 2

    while n > 1:
        while n % divisor == 0:
            factors.append(divisor)
            n //= divisor
        divisor += 1

    return factors

# 정수 N 입력 받기
N = int(input())

# 소인수분해 수행
result = prime_factors(N)

# 결과 출력
for i in range(len(result)):
  print(result[i])

30
2
3
5

In [ ]:
#BJ_1789

S = int(input())

N = 1
while N * (N + 1) // 2 <= S:
    N += 1

print(N - 1)

200
19

In [ ]:
#BJ_2753

def is_leap_year(year):
    # 연도가 4로 나누어 떨어지는지 확인
    if year % 4 == 0:
        # 연도가 100으로 나누어 떨어지는지 확인
        if year % 100 == 0:
            # 연도가 400으로 나누어 떨어지는지 확인
            if year % 400 == 0:
                return True  # 400으로 나누어 떨어지면 윤년
            else:
                return False  # 400으로 나누어 떨어지지 않으면 평년
        else:
            return True  # 100으로 나누어 떨어지지 않으면 윤년
    else:
        return False  # 4로 나누어 떨어지지 않으면 평년

# 테스트
year = int(input())
if is_leap_year(year):
    print(1)
else:
    print(0)

2000
1

In [ ]:
#BJ_10039

list_score = []

for i in range(5):
  score = int(input())
  if score < 40:
    score = 40
  list_score.append(score)

avg = sum(list_score) / 5
avg = int(avg)

print(avg)

10
65
100
30
95
68

In [ ]:
#BJ_1934

def gcd(a, b):
    while b != 0:
        a, b = b, a % b
    return a

def lcm(a, b):
    return (a * b) // gcd(a, b)

# 테스트 케이스의 개수 입력 받기
T = int(input())

list_a  = []

# 테스트 케이스를 입력 받고 최소공배수 계산 후 출력
for i in range(T):
    A, B = map(int, input().split())
    list_a.append(lcm(A,B))

for i in range(T):
  print(list_a[i])

3
1 4500
6 10
13 17
4500
30
221

In [ ]:
#BJ_2480

NUM = list(map(int, input().split()))
mnc = []

for i in range(1,7):
  mnc.append(NUM.count(i))
  if max(mnc) == 3:
    MON = 10000 + (mnc.index(3)+1)*1000
  else:
    if max(mnc) == 2:
      MON = 1000 + (mnc.index(2)+1)*100
    else:
      MON = max(NUM)*100

print(MON)

6 2 5
600

In [ ]:
#BJ_4101

answer_list = []
while True:
  A, B = map(int, input().split())
  if A == 0 and B == 0:
    break
  else:
    if A > B:
      answer_list.append("Yes")
    else:
      answer_list.append("No")

for i in range(len(answer_list)):
  print(answer_list[i])

1 19
4  4
23 14
0 0
No
No
Yes

In [1]:
#BJ_10156


KNM = list(map(int,input().split()))

K = KNM[0]
N = KNM[1]
M = KNM[2]

MM = K*N - M

if MM <= 0:
  MM = 0

print(MM)

300 4 1000
200

In [7]:
#BJ_3009

X = [0,0,0]
Y = [0,0,0]

for i in range(3):
  XY = list(map(int,input().split()))
  X[i] = XY[0]
  Y[i] = XY[1]

for i in range(3):
  if X.count(X[i]) == 1:
    XA = X[i]

for i in range(3):
  if Y.count(Y[i]) == 1:
    YA = Y[i]

print(XA, YA)

30 20
10 10
10 20
[30, 10, 10]
[20, 10, 20]
30 10

In [8]:
#BJ_2476

player = int(input())
reward = []

for i in range(player):
  NUM = list(map(int, input().split()))
  mnc = []

  for i in range(1,7):
    mnc.append(NUM.count(i))
    if max(mnc) == 3:
      MON = 10000 + (mnc.index(3)+1)*1000
    else:
      if max(mnc) == 2:
        MON = 1000 + (mnc.index(2)+1)*100
      else:
        MON = max(NUM)*100
    reward.append(MON)

print(max(reward))

3
3 3 6
2 2 2
6 2 5
12000

In [10]:
#BJ_2754

score_dict = {"A+": 4.3, "A0": 4.0, "A-": 3.7,
              "B+": 3.3, "B0": 3.0, "B-": 2.7,
              "C+": 2.3, "C0": 2.0, "C-": 1.7,
              "D+": 1.3, "D0": 1.0, "D-": 0.7,"F": 0.0}

score = input()

print(score_dict[score])

F
0.0

In [ ]:
#깃허브 커밋 테스트 오류